* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

#about {
  color: rgb(31, 31, 59);
  font-size: 60px;
  grid-area: about;
  border-right: 4px solid black;
  text-align: right;
  padding-right: 10px;
  margin-right: 25%;
}

#content {
  grid-area: content;
}

#aboutGrid {
  margin: 0px 5px;
  display: grid;
  grid-template-rows: 300px;
  grid-template-columns: 20% 80%;
  grid-template-areas: 
  "about content";
}

#work-1 {
  grid-area: work-1;
  background-image: url(../images/02-portfolio-4.jpg);
}

#work-2 {
  grid-area: work-2;
  background-image: url(../images/02-portfolio-1.jpg);
}

#work-3 {
  grid-area: work-3;
  background-image: url(../images/02-portfolio-2.jpg);
}

#work-4 {
  grid-area: work-4;
  background-image: url(../images/02-portfolio-3.jpg);
}

#work-5 {
  grid-area: work-5;
  background-image: url(../images/02-run-buddy.jpg);
}

#work {
  color: rgb(31, 31, 59);
  font-size: 60px;
  grid-area: work;
  border-right: 4px solid black;
  text-align: right;
  padding-right: 10px;
  margin-right: 25%;
}

#portfolioGrid {
  margin: 0px 5%;
  display: grid;
  grid-template-rows: 300px 120px 120px;
  grid-template-columns: 20% 40% 40%;
  grid-template-areas: 
  "work work-1 work-1"
  "work work-2 work-3"
  "work work-4 work-5";
}

.portfolioGridArea {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 5px;;
  cursor: pointer;
  display: grid;
  align-content: flex-end;
  justify-content: flex-start;
  border: 5px solid skyblue;
  padding-bottom: 1rem;
}

.portfolioGridArea:hover {
  box-shadow: inset 0 0 100px 100px rgba(255,255,255,0.3);
  border: 5px solid skyblue;
}

.portfolioHeading {
  background-color: skyblue;
  padding: 2px;
  font-weight: bold;
  padding-right: 5px;
}

.portfolioParagraph {
  background-color: skyblue;
  padding: 2px;
  font-size: 10px;
  padding-right: 5px;
}
